@charset "utf-8";
.fm-content{
    height: 100%;
}
.home{
    height:100%;
}
.home .row{
    height:100%;
}
.home .row>div{
    height:100%;
    overflow:auto;
}
.home .row .main-map{
    height:100%;
    border:5px solid #ccc;
}
.fm-content{
    padding: 15px;
    margin: 0;
}
.home .list-group-item{
    opacity:1;
    overflow: hidden;
}

#myPageTop{
    right:30px!important;
}
body{
    font-family: "Microsoft Yahei";
    font-weight:normal;
}